@page
@model attendance1.Web.Models.LoginMdl
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html style="height: 100;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A attendance management system.">

    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <Title>Login</Title>

    <!-- Prevent Browser Backward-->
    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0);
        window.onunload = function () {
            null
        };
    </script>

    <!-- App css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="assets/js/modernizr.min.js"></script>

    @* <style>
        .main {
            position: relative;
            top: 8vh;
            display: flex;
            flex-direction: column;
            background-color: #240046;
            max-height: 550px;
            min-width: 350px;
            width: 30%;
            overflow: hidden;
            border-radius: 12px;
            box-shadow: 7px 7px 10px 3px #24004628;
        }

        .form {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 24px;
        }

        /*checkbox to switch from sign up to login*/
        #chk {
            display: none;
        }

        /*Login*/
        .login {
            position: relative;
            width: 100%;
            height: 100%;
        }

            .login label {
                margin: 15% 0 5%;
                font-size: 4rem;
            }

        label {
            color: #fff;
            font-size: 2rem;
            justify-content: center;
            display: flex;
            font-weight: bold;
            cursor: pointer;
            transition: .5s ease-in-out;
        }

        .input {
            width: 100%;
            height: 40px;
            background: #e0dede;
            padding: 10px;
            border: none;
            outline: none;
            border-radius: 4px;
        }

        /*Register*/
        .register {
            background: #eee;
            min-height: 35em;
            border-radius: 60% / 10%;
            transform: translateY(5%);
            transition: .8s ease-in-out;
        }

            .register label {
                font-size: 4rem;
                color: #573b8a;
                transform: scale(.6);
            }

        #chk:checked ~ .register {
            transform: translateY(-60%);
        }

            #chk:checked ~ .register label {
                transform: scale(1);
                margin: 10% 0 5%;
            }

        #chk:checked ~ .login label {
            transform: scale(.6);
            margin: 5% 0 5%;
        }
        /*Button*/
        .form button {
            width: 85%;
            height: 40px;
            margin: 12px auto 10%;
            color: #fff;
            background: #573b8a;
            font-size: 1.5rem;
            font-weight: bold;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: .2s ease-in;
        }

            .form button:hover {
                background-color: #6d44b8;
            }
    </style> *@

    <!--Web App-->
    @* <link rel="manifest" href="~/Manifest.json">
    <script>
    if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/ServiceWorker.js').then(function (registration) {
    console.log('Service Worker registered with scope:', registration.scope);
    }).catch(function (error) {
    console.log('Service Worker registration failed:', error);
    });
    }
    </script> *@
</head>


<body class="bg-transparent" style="height: 100%;">
    <div style="display: flex; justify-content: center;">
            <div class="main">
                <input type="checkbox" id="chk" aria-hidden="true">

                <div class="login">
                    <form class="form">
                        <label for="chk" aria-hidden="true">Student</label>
                        <input class="input" type="email" name="email" placeholder="Enter your name as OCULUS" required="">
                        <input class="input" type="password" name="pswd" placeholder="Enter your Student ID" required="">
                        <button>Log in</button>
                    </form>
                </div>

                <div class="register">
                    <form class="form">
                        <label for="chk" aria-hidden="true">Staff</label>
                        <input class="input" type="text" name="txt" placeholder="Username" required="">
                        @* <input class="input" type="email" name="email" placeholder="Email" required=""> *@
                        <input class="input" type="password" name="pswd" placeholder="Password" required="">
                        <div class="checkbox checkbox-purple" style="margin: 0; padding: 0px 24px;">
                            <input id="checkbox-signup" asp-for="RememberMe" type="checkbox" checked>
                            <label for="checkbox-signup" style="font-size: 1.7rem; margin: 0;">
                                Remember me
                            </label>
                        </div>
                        <button>Log in</button>
                    </form>
                </div>
            </div>

            <!--Error Message-->
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["ErrorMessage"]
                </div>
            }
        </div>

    

    <!-- HOME -->
    
       
            
                

                    

                        
                    
                    <!-- end wrapper -->

                
            
        
    
    <!-- END HOME -->

    <script>
        var resizefunc = [];
    </script>



    <!-- jQuery  -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/detect.js"></script>
    <script src="assets/js/fastclick.js"></script>
    <script src="assets/js/jquery.blockUI.js"></script>
    <script src="assets/js/waves.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>

    <!-- App js -->
    <script src="assets/js/jquery.core.js"></script>
    <script src="assets/js/jquery.app.js"></script>

</body>
</html>
