@model List<attendance1.Web.Models.ClassMdl>
@{
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<ul class="list-unstyled" id="@ViewData["ClassStatus"]-classes-sidemenu">
    @foreach (var ClassItem in Model)
    {
        <li>
            <a asp-controller ="Class" asp-action="ClassAttendance" asp-route-id="@ClassItem.CourseId">@ClassItem.ClassName</a>
        </li>
    }
</ul>
