@model List<ClassMdl>

<ul class="list-unstyled" id="@ViewData["ClassStatus"]-classes-sidemenu">
    @foreach (var ClassItem in Model)
    {
        <li>
            <a asp-controller ="Class" asp-action="ClassAttendance" asp-route-id="@ClassItem.CourseId">@ClassItem.ClassName</a>
        </li>
    }
</ul>
