@page
@model List<attendance1.Web.Models.ClassMdl>
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="page-title-box">
    <h4 class="page-title">Classes</h4>
    <ol class="breadcrumb p-0 m-0">
        <li>
            <a href="#">Student Management System</a>
        </li>
        <li class="active">
            Take Attendance
        </li>
    </ol>
    <div class="clearfix"></div>
</div>

<div class="col-lg-3 col-md-4 col-sm">
    <a href="#custom-modal" data-animation="fadein" data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a">
        <div class="card-box widget-box-one class-box">
            <div class="wigdet-one-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="ClassSession">Class Session 2023/2024 SEP</p>
                <h3>Class Name Microcomputer Intfercfacing </h3>
                <p class="text-muted m-0"><b>Last:</b> 30.4k</p>
            </div>
        </div>
    </a>
</div>

@foreach (var item in @Model)
{
    <tr>
        <td>@item.CourseCode</td>
        <td>@item.ClassName</td>
        <td>@item.ClassSession</td>
    </tr>
}


<!-- Modal content -->
<div id="custom-modal" class="modal-demo">
    <button type="button" class="close" data-dismiss="modal"  onclick="Custombox.close();">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title">Generate Attendance Code:</h4> <!--Class name-->
    <form action="/" method="post">
        <div class="modal-body" style="text-align: left;">
            <div class="row">
                <div class="form-group" style="padding-left: 15px;">
                    <label>Code Valid Time:</label>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="radio">
                                <input type="radio" name="CodeValidTime" id="ThirtySec" value="30 sec" required="">
                                <label for="ThirtySec">
                                    30 seconds
                                </label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="radio">
                                <input type="radio" name="CodeValidTime" id="OneMin" value="1 Min">
                                <label for="OneMin">
                                    1 minute
                                </label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="radio">
                                <input type="radio" name="CodeValidTime" id="ThreeMin" value="3 Min">
                                <label for="ThreeMin">
                                    3 minutes
                                </label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="radio">
                                <input type="radio" name="CodeValidTime" id="FiveMin" value="5 Min">
                                <label for="FiveMin">
                                    5 minute
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" onclick="Custombox.close();">Close</button>
            <button type="button" class="btn btn-inverse waves-effect waves-light">Generate</button>
        </div>
    </form>
    
</div>

<!-- Modal-Effect -->
<script src="~/assets/js/custombox.min.js"></script>
<script src="~/assets/js/legacy.min.js"></script>
<link rel="stylesheet" href="~/assets/css/custombox.min.css">





